{#-- Global footer --#}

{#-- Browser fixes --#}
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

{% set myEntryQuery = craft.entries().section('globalFooter').limit(1) %}
{% set thisEntry = myEntryQuery.one() %}

<footer class="FooterSections">
    <div class="footerInfo">
        <span>
            {% set logo = globalVars.siteLogoDarkBg.one() %}
            <a href="{{ alias('@web') }}"><img class="footerLogo" src="{{ logo.url }}" alt="{{ logo.altText }}" class="lazyloaded">
            </a>
        </span>
        <span>
            {{ footer.copyright }}
        </span>
        <span class="footerLinks">
            {# MUST FIX 
            <a href="{{ alias('@web') }}/{{ footer.privacyPolicy[0].uri }}">{{ footer.privacyPolicy[0].text }}</a>
            #}
        </span>
        
    </div>
    <div class="footerSocial">
        
        {# MUST FIX 
        {% for row in footer.socialLinks %}
            <span class="">
                <a class="footerSocial-icons footerSocial-icons--fb" href="{{ row.facebook }}"></a>
            </span>
            <span class="">
                <a class="footerSocial-icons footerSocial-icons--twitter" href="{{ row.twitter }}"></a>
            </span>
        {% endfor %}
        #}
        
    </div>
</footer>

