
{% import '_macros/_user' as m_user %}

{% set myEntryQuery = craft.entries().section('siteInfo').limit(1) %}
{% set thisEntry = myEntryQuery.one() %}

{% set thisSlug = entry is defined ? entry.slug : "" %}

<div class="row  nomargins">
    <header id="pageHeader" class="LevelTwoHeader dark">
        <div class="LevelTwoWrapper">
            <div class="branding">
                <div class="logo">
                    {% set image = thisEntry.siteLogo.one() %}
                    {% if image and image.extension == 'svg' %}
                        <a href="{{ alias('@web') }}">
                            {{ svg(image) }}
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="l2nav-wrapper">
                <div class="HdrNavRow nav-wrapper">
                    <div class="l2Nav">
                        <ul class="l2Nav-menu">
                            {% for item in thisEntry.globalNav %}
                                <li>
                                    {% if thisSlug == item.menuUrl %}
                                        {% set linkClass = "active" %}
                                    {% elseif (thisSlug == "home") and (item.menuUrl == "/") %}
                                        {% set linkClass = "active" %}
                                {% else %}
                                        {% set linkClass = thisSlug %}
                                    {% endif %}
                                {#
                                        {% set linkClass = thisSlug ~ item.menuUrl %}
                                #}
                                    <a href="{{ alias('@web') }}/{{ item.menuUrl }}" class="{{ linkClass }}" title="{{ item.menuTip }}">{{ item.menuText }}</a>
                                </li>
                            {% endfor %}
                            <li>
                                {# <a href="{{ m_user.getLoginLink() }}" class="{{ thisSlug }}" title="{{ m_user.getLoginLinkTitle() }}">{{ m_user.getLoginLinkTitle() }}</a> #}
                                {% set image = globalVars.userIcon.one() %}
                                <a href="" class="jsShowUserMenu userIcon" title="">
                                    <span>
                                        {{ svg(image) }}
                                    </span>
                                </a>                                                                                           
                            </li>
                        </ul>
                        <div id="userMenu" class="usermenu">
                            <ul>
                                {% if currentUser %}
                                    <li><a target="_blank" href="https://somacellars.securewinemerchant.com/signin" class="">Sign In</a></li>
                                {% else %}
                                {% endif %}
                                <li class="last"><a target="_blank" href="https://somacellars.securewinemerchant.com/signup">Sign Up</a></li>
                            </ul>
                        </div>

                    </div>
                    {#
                    <div class="mobile-nav">
                        {% set image = globalVars.mobileMenu.one() %}
                        <img id="jsMobileShow" src="{{ image.url }}" alt="{{ globalVars.pageTitleBase }}" />
                    </div>
                    #}
                    <div class="mobile-nav">
                        {% set image = globalVars.mobileMenu.one() %}
                        <button class="mobile-toggle">
                            <img id="mobile-button" src="{{ image.url }}" alt="{{ globalVars.pageTitleBase }}" />            
                        </button> 
                    </div>
        
                </div>
            </div>
        </div>

        </div>
        <div id="jsProgressBar" class="status">
        </div>

    </header>
</div>
