{% extends "_layouts/site-layout-base.twig" %}
{% import '_macros/_pageintro'  as m_pageintro %}
{% set item = entry ? craft.entries().section(entry.slug).one() : craft.entries().section('error404').one() %}
{% set isErrorCode = entry ? false : true %}


    {% block titleTag %}
    <title>{{ item.title }} | {{ globalVars.displayUrl }}</title>
    {% endblock titleTag %}

    {% block bodyTag %}
        <body id="{{ entry.slug }}" class="{{ entry.slug }}">
    {% endblock bodyTag %}

    {% block pageIntro %}
        {% set topicImage = item.topicImage.one() ??? null %}
        {{ m_pageintro.pageintro(   item.topicTitle, 
                                    item.topicIntro, 
                                    null,
                                    topicImage, 
                                    item.topicBanner,
                                    null, 
                                    false, 
                                    false) }}
    {% endblock %}

    {% block content %}
        <section class="row pagePadding">
            {% if item.topicRichText %}
                {{ item.topicRichText }}
            {% endif %}        
        </section>
    {% endblock %}

{% block pageJs %}
<script>
    setPageTop('pageHeader');
</script>
{% endblock pageJs %}
