
{% extends "_layouts/site-layout-base.twig" %}
{% import '_macros/_srcset'  as m_srcset %}
{% set entry = craft.entries().section('team').type('default').one() %}

{% block titleTag %}
<title>{{ entry.title }} | {{ globalVars.displayUrl }}</title>
{% endblock titleTag %}

{% block bodyTag %}
	<body id="{{ entry.slug }}" class="{{ entry.slug }}">
{% endblock bodyTag %}

{% block pageIntro %}
{% set mytext = entry.slug %}
    {% set item = craft.entries().section(entry.slug).type('default').one() %}
    {% if item %}
        <section class="row PageIntro">
            <div class="pageImg">
                {{ m_srcset.srcset(item.topicImage.one(), 'hero') }}      
            </div>
            <div class="pageText">
                <h2>{{ item.topicTitle }}</h2>
            </div>
            <div class="pageText">
                <p>{{ item.topicIntro }}</p>
            </div>
        </section>
    {% else %}
        {{ mytext }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row" style="min-height: 21rem">
        {% set swapClass = '' %}
        {% set entries = craft.entries.section([entry.slug]).type('textPic').limit(20) %}
        {% for item in entries %}
            {% set entry = item %}
            {% include "item" %}

            {% if (swapClass == "swapOrder") %}
                {% set swapClass = "" %}
            {% else %}
                {% set swapClass = "swapOrder" %}
            {% endif %}
    
        {% endfor %}
    </div>
{% endblock %}


{% block pageJs %}
<script>
    setPageTop('pageHeader', "{{ entry.slug }}");
</script>
{% endblock pageJs %}
