
{% extends "_layouts/site-layout-base.twig" %}
{% import '_macros/_pageintro'  as m_pageintro %}
{% set entry = craft.entries().section('wineCategory').type('default').one() %}

{% block titleTag %}
<title>{{ entry.title }} | {{ globalVars.displayUrl }}</title>
{% endblock titleTag %}

{% block bodyTag %}
	<body id="{{ entry.slug }}" class="{{ entry.slug }}">
{% endblock bodyTag %}

{% block pageIntro %}
    {{ m_pageintro.pageintro(entry.topicTitle, entry.topicIntro, entry, null, false, false) }}
{% endblock %}

{% block content %}
    <section class="row pagePadding CatGrid">
        {% set handle = 'wineCategory' %}
        {% set swapClass = '' %}
        {% set items = craft.entries.section([handle]).type('category').limit(20) %}
        {% for item in items %}
            {% set entry = item %}
            {% include "item" %}
            {% if (swapClass == "swapOrder") %}
                {% set swapClass = "" %}
            {% else %}
                {% set swapClass = "swapOrder" %}
            {% endif %}    
        {% endfor %}
    </section>
    
{% endblock %}

{% block pageJs %}
<script>
    setPageTop('pageHeader');
    initWineCats();
</script>
{% endblock pageJs %}
