{% extends "entry/default" %}
{% import '_macros/_srcset'  as m_srcset %}
{# {% set entry = craft.entries().section('wines').type('default').one() %} #}

{% block pageIntro %}
{% endblock %}

{% block entryContent %}
    <section class="row pagePadding WineInfo">
        <div class="wineEntry">
            <div class="bottle">
                {% set image = entry.topicImage.one() %}
                {% if image %}
                    <img class="lazyx" src="{{ image.url }}" alt="{{ image.altText }}" />
                {% endif %}
            </div>
            <div class="info">
                <h2>{{ entry.topicTitle }}</h2>
                {% set price = entry.bottlePrice|money %}
                {% set size = entry.bottleSize %}
                <h5>{{ price }} / {{ size }}</h5>

                {% if entry.body %}
                    {% include "matrix" with {matrix: entry.body} %}
                {% endif %}
            <div class="buttons">
                {# return to last page button #}
                {% set link = entry.topicLink[0] %}
                <span class="button buttonLink">
                    <a onclick="history.back()">{{ globalVars.return }}</a>
                </span>

                {# buy now button #}
                {% if entry.soldOutToggle %}
                    <span class="button buttonLink disabled">
                        <a>{{ globalVars.soldOut }}</a>
                    </span>
                {% else %}
                    {% set link = entry.topicLink[1] %}
                    <span class="button buttonLink">
                        <a href="{{ link.uri }}" target="_blank">{{ link.label }}</a>
                    </span>
                {% endif %}
            </div>


            </div>

        </div>
    </section>
    
{% endblock %}
