
{% extends "_layouts/site-layout-base.twig" %}
{% import '_macros/_pageintro'  as m_pageintro %}
{% set entry = craft.entries().section('blog').type('default').one() %}

{% block titleTag %}
<title>{{ entry.title }} | {{ globalVars.displayUrl }}</title>
{% endblock titleTag %}

{% block bodyTag %}
	<body id="{{ entry.slug }}" class="{{ entry.slug }}">
{% endblock bodyTag %}

{% block pageIntro %}
    {{ m_pageintro.pageintro(entry, null, false) }}
{% endblock %}

{% block content %}
    <section class="row pagePadding BlogInfo">
        {% set swapClass = '' %}
        {% set entries = craft.entries.section([entry.slug]).type('blogPost').limit(20) %}
        {% for item in entries %}
            {% set entry = item %}
            {% include "item" %}

            {% if (swapClass == "swapOrder") %}
                {% set swapClass = "" %}
            {% else %}
                {% set swapClass = "swapOrder" %}
            {% endif %}
    
        {% endfor %}
    </section>
{% endblock %}


{% block pageJs %}
<script>
    setPageTop('pageHeader');
</script>
{% endblock pageJs %}
