
{% macro pageintro( topicTitle = '', 
                    topicIntro, 
                    topicRichText = null,
                    topicImage, 
                    topicBanner, 
                    cats = null, 
                    hasMenu = false, 
                    hasReturnBtn = false) %}
    {% import '_macros/_srcset' as m_srcset %}
    {% set pageCatID = craft.app.request.getQueryParam('cat', null) %}
    {% set pageImgStyle = hasMenu ? 'topRound' : '' %}

    <section class="row pagePadding PageIntro">
        <div class="pageImg {{ pageImgStyle }}">
            <div class="wrapper">
                <div class="topRound"></div>
                {% if topicImage %}
                    {{ m_srcset.srcset(topicImage, 'fithero') }}  
                {% endif %}
                
                {% if hasMenu %}
                    <div class="localMenu">
                        {% if cats|length %}
                            <ul>
                                {% for cat  in cats %}
                                    {% set catID = cat.id %}
                                    {% set catStyle = (catID == pageCatID) ? 'selected' : '' %}
                                    {% set basePath = alias('@web') ~ '/wines' %}
                                    <li data-cat="{{ catID }}" data-base="{{ basePath }}" class="jsSetWineCat wineCats {{ catStyle }}">{{ cat.title }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}    
                    </div>
                {% endif %}

                {% if topicBanner %}    
                    <div class="banner">
                        {% include "matrix" with {matrix: topicBanner} %}
                    </div>
                {% endif %}
            </div>
        </div>

        {% if topicTitle %}        
            <div class="pageText">
                <h2>{{ topicTitle }}</h2>
            </div>
        {% endif %}
        {% if topicIntro %}
            <div class="pageText">
                <p>{{ topicIntro }}</p>
            </div>
        {% endif %}
        {% if topicRichText %}
            <div class="pageText left">
                <p>{{ topicRichText }}</p>
            </div>
        {% endif %}

        {% if hasReturnBtn %}
            <div style="text-align: center">
                <span class="button buttonLink">
                    <a onclick="history.back()">{{ globalVars.returnVineyards }}</a>
                </span>
            </div>
        {% endif %}

    </section>
{% endmacro %}

