
{% macro pageintro(topicTitle = '', topicIntro, item, cats = null, hasMenu = false, hasReturnBtn = false) %}
    {% import '_macros/_srcset' as m_srcset %}
    {% set pageCatID = craft.app.request.getQueryParam('cat', null) %}
    {% set pageImgStyle = hasMenu ? 'topRound' : '' %}

    {% if item %}
        <section class="row pagePadding PageIntro">
            <div class="pageImg {{ pageImgStyle }}">
                <div class="topRound"></div>
                {% if item.topicImage %}
                    {% set img = item.topicImage.one() %}
                    {{ m_srcset.srcset(img, 'fithero') }}  
                {% endif %}
                <div class="localMenu">
                    {% if hasMenu %}
                        {% if cats|length %}
                            <ul>
                                {% for cat  in cats %}
                                    {% set catID = cat.id %}
                                    {% set catStyle = (catID == pageCatID) ? 'selected' : '' %}
                                    {% set basePath = alias('@web') ~ '/wines' %}
                                    <li data-cat="{{ catID }}" data-base="{{ basePath }}" class="jsSetWineCat wineCats {{ catStyle }}">{{ cat.title }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}    
                    {% endif %}
                </div>
            </div>

            <div class="pageText">
                <h2>{{ topicTitle }}</h2>
            </div>
            <div class="pageText">
                <p>{{ topicIntro }}</p>
            </div>

            {% if hasReturnBtn %}
                <div style="text-align: center">
                    <span class="button buttonLink">
                        <a onclick="history.back()">{{ globalVars.returnVineyards }}</a>
                    </span>
                </div>
            {% endif %}
    
        </section>
    {% endif %}
{% endmacro %}

