{% macro textpic(blocks = null, textOnTop = false) %}
{% import '_macros/_srcset' as m_srcset %}

{% if blocks is not null %}
    {% set swapClass = "" %}

    {% for block in blocks.all() %}
    {% if block.type == "textPic" %}
        
        {# if textOnTop force image on bottom 
        {% if textOnTop == true %}
            {% set swapClass = swapClass ~ "textOnTop" %}
        {% endif %}
        #}
        {# made sure the block order alternates on rows #}
        {% if (textOnTop == true) or (swapClass == "swapOrder") %}
            {% set swapClass = "" %}
            {% if textOnTop == true %}
                {% set swapClass = "textOnTop" %}
            {% endif %}
        {% elseif textOnTop == false %}
            {% set swapClass = "swapOrder" %}
        {% endif %}


        <section class="row TextPic">
            <div class="TextBlock {{ swapClass }}">
                <div class="topBorder"></div>
                <div>
                    <h3>{{ block.itemTitle }}</h3>
                    <h5>{{ block.itemSubtitle }}</h5>
                    <p>{{ block.itemDesc }}</p>
                </div>
                    <div>
                {% if block.itemBtn is not empty %}
                        <span class="button">
                            <a href="{{ block.itemBtnUrl }}">{{ block.itemBtn }}</a>
                        </span>
                {% endif %}
                    </div>
            </div>
            <div class="PicBlock">
                {% set image = block.itemImage.one() %}
                <img class="lazyx" src="{{ image.url }}" alt="{{ image.altText }}" />
                
                {#  should use lazy loading and responsive image for above (as follows)
                data-srcset="

                <img class="lazy" data-src="./assets/img/hero-primary-lg.jpg" data-srcset="
                ./assets/img/hero-primary-lg.jpg 750w,
                ./assets/img/hero-primary-lg.jpg 1500w,
                ./assets/img/hero-primary-lg.jpg 2000w,
                ./assets/img/hero-primary-lg.jpg 2400w" alt="Side Dishes"/>
                #}
            </div>
        </section>

{##}

    {% endif %}
    {% endfor %}
{% endif %}  {# blocks is not null #}       
{% endmacro textpic %}