{% macro textpic(item = null, swapClass = "", byVines = false) %}
{% import '_macros/_srcset' as m_srcset %}

{#
{% set textOnTop = false %}
{% if (textOnTop == true) or (swapClass == "swapOrder") %}
    {% set swapClass = "" %}
    {% if textOnTop == true %}
        {% set swapClass = "textOnTop" %}
    {% endif %}
{% elseif textOnTop == false %}
    {% set swapClass = "swapOrder" %}
{% endif %}
#}

{% if item %}
    <section class="row TextPic">
        <div class="TextBlock {{ swapClass }}">
            <div class="topBorder"></div>
            <div>
                <h3>{{ item.topicTitle }}</h3>
                <h5>{{ item.topicDesc }}</h5>
                {% if item.topicRichText %}
                    <p>{{ item.topicRichText }}</p>
                {% elseif item.topicIntro %}
                    <p>{{ item.topicIntro }}</p>
                {% endif %}
            </div>

            <div class="buttons">                
                {% for link in item.topicLink %}
                    {% if link %}
                        {% set vLink = "wines"~"?vineyard="~item.id %}
                        {% set linkUrl = byVines ? vLink : link.uri %}

                        <span class="button buttonLink">
                            <a href="{{ linkUrl }}">{{ link.label }}</a>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="PicBlock">
            {% set image = item.topicImage.one() %}
            {% if image %}
                <img class="lazy" src="{{ image.url }}" alt="{{ image.altText }}" />
            {% endif %}
        </div>
    </section>
{% endif %}

{% endmacro %}