
{% extends "_layouts/site-layout-base.twig" %}
{% import '_macros/_srcset'  as m_srcset %}
{% set entry = craft.entries().section('wines').type('default').one() %}

{% block titleTag %}
<title>{{ entry.title }} | {{ globalVars.displayUrl }}</title>
{% endblock titleTag %}

{% block bodyTag %}
	<body id="{{ entry.slug }}" class="{{ entry.slug }}">
{% endblock bodyTag %}

{% block pageIntro %}
    <section class="row PageIntro">
        <div class="pageImg">
            {{ m_srcset.srcset(entry.topicImage.one(), 'hero') }}      
        </div>
        <div class="pageText">
            <h2>{{ entry.topicTitle }}</h2>
        </div>
        <div class="pageText">
            <p>{{ entry.topicIntro }}</p>
        </div>
    </section>
{% endblock %}

{% block content %}

    <section class="row WineInfo">
        {% set handle = 'wines' %}
        {% set swapClass = '' %}
        {% set entries = craft.entries.section([handle]).type('wineItems').limit(20) %}
        {% for item in entries %}
            {% set entry = item %}
            {% include "item" %}

            {% if (swapClass == "swapOrder") %}
                {% set swapClass = "" %}
            {% else %}
                {% set swapClass = "swapOrder" %}
            {% endif %}
    
        {% endfor %}
    </section>
    
{% endblock %}

{% block pageJs %}
<script>
    {% set handle = entry.section.handle %}
    setPageTop('pageHeader', "{{ handle }}");
</script>
{% endblock pageJs %}
