
{% extends "_layouts/site-layout-base.twig" %}
{% import '_macros/_pageintro'  as m_pageintro %}

{% set entry = craft.entries().section('wines').type('default').one() %}
{% set byCatID = craft.app.request.getQueryParam('cat', null) %}
{% set byVineyardID = craft.app.request.getQueryParam('vineyard', null) %}

{% block titleTag %}
<title>{{ entry.title }} | {{ globalVars.displayUrl }}</title>
{% endblock titleTag %}

{% block bodyTag %}
	<body id="{{ entry.slug }}" class="{{ entry.slug }}">
{% endblock bodyTag %}

{% block pageIntro %}
    {% set cats = craft.entries.section('wineCategory').type('category') %}
    {% set wineCat = craft.entries().section('wineCategory').type('category').id(byCatID).one() %}
    {% set vineyard = craft.entries().section('vineyards').id(byVineyardID).one() %}
    {% set topicImage = entry.topicImage.one() %}
    
    {% if byVineyardID %}
        {{ m_pageintro.pageintro(   vineyard.topicShortTitle, 
                                    vineyard.topicShortIntro, 
                                    null,
                                    topicImage, 
                                    entry.topicBanner, 
                                    cats, 
                                    true, 
                                    true) }}
    {% elseif byCatID %}
        {{ m_pageintro.pageintro(   wineCat.topicTitle, 
                                    wineCat.topicIntro, 
                                    wineCat.topicRichText,
                                    topicImage, 
                                    wineCat.topicBanner, 
                                    cats, 
                                    true, 
                                    false) }}
    {% else %}
        {{ m_pageintro.pageintro(   entry.topicTitle, 
                                    entry.topicIntro, 
                                    null,
                                    topicImage, 
                                    entry.topicBanner, 
                                    cats, 
                                    true, 
                                    false) }}  
    {% endif %}

{% endblock %}

{% block content %}

    <section class="row pagePadding WineInfo">
            
        {% set handle = 'wines' %}
        {% set swapClass = '' %}
        {% set levelOne = craft.entries.section([handle]).type('wineType').all() %}

        {# sort wines first by varietal #}
        {% for level in levelOne %}
            {% set wines = craft.entries.section([handle]).descendantOf(level.id).relatedTo(byCatID).orderBy('title ASC').all() %}

            {# then sort by price according to category/vineyard #}
            {% if byCatID %}
                {% set entries = craft.entries.section([handle]).descendantOf(level.id).relatedTo(byCatID).orderBy('title DESC').all() %}
            {% elseif byVineyardID %}
                {% set entries = craft.entries.section([handle]).descendantOf(level.id).relatedTo(byVineyardID).orderBy('title DESC').all() %}
            {% else %}
                {% set entries = craft.entries.section([handle]).descendantOf(level.id).orderBy('title DESC').all() %}
            {% endif %}

            {% for item in entries %}
                {% set entry = item %}
                {% include "item" %}

                {% if (swapClass == "swapOrder") %}
                    {% set swapClass = "" %}
                {% else %}
                    {% set swapClass = "swapOrder" %}
                {% endif %}
        
            {% endfor %}
        {% endfor %}

        {## old sort logic
        {% if byCatID %}
            {% set entries = craft.entries.section([handle]).type('wineItems').relatedTo(byCatID).orderBy('title ASC').all() %}
        {% elseif byVineyardID %}
            {% set entries = craft.entries.section([handle]).type('wineItems').relatedTo(byVineyardID).orderBy('title ASC').all() %}
        {% else %}
            {% set entries = craft.entries.section([handle]).type('wineItems').orderBy('title ASC').all() %}
        {% endif %}
        {% for item in entries %}
            {% set entry = item %}
            {% include "item" %}

            {% if (swapClass == "swapOrder") %}
                {% set swapClass = "" %}
            {% else %}
                {% set swapClass = "swapOrder" %}
            {% endif %}
    
        {% endfor %}
        end old sort logic ##}

    </section>
    
{% endblock %}

{% block pageJs %}
<script>
    setPageTop('pageHeader');
    initWineCats();
</script>
{% endblock pageJs %}
