
{% extends "_layouts/site-layout-base.twig" %}
{% import '_macros/_pageintro'  as m_pageintro %}
{% set entry = craft.entries().section('wines').type('default').one() %}
{% set catID = '3321' %}

{% block titleTag %}
<title>{{ entry.title }} | {{ globalVars.displayUrl }}</title>
{% endblock titleTag %}

{% block bodyTag %}
	<body id="{{ entry.slug }}" class="{{ entry.slug }}">
{% endblock bodyTag %}

{% block pageIntro %}
    {% set cats = craft.entries.section('wineCategory').type('category') %}
    {{ m_pageintro.pageintro(entry, cats, true) }}
{% endblock %}

{% block content %}

    <section class="row pagePadding WineInfo">
        {% set catID = craft.app.request.getQueryParam('cat', null) %}
    
        {% set handle = 'wines' %}
        {% set swapClass = '' %}
        {% if catID %}
            {% set entries = craft.entries.section([handle]).type('wineItems').relatedTo(catID).limit(20) %}
        {% else %}
            {% set entries = craft.entries.section([handle]).type('wineItems').limit(20) %}
        {% endif %}
        {% for item in entries %}
            {% set entry = item %}
            {% include "item" %}

            {% if (swapClass == "swapOrder") %}
                {% set swapClass = "" %}
            {% else %}
                {% set swapClass = "swapOrder" %}
            {% endif %}
    
        {% endfor %}
    </section>
    
{% endblock %}

{% block pageJs %}
<script>
    setPageTop('pageHeader');
    initWineCats();
</script>
{% endblock pageJs %}
