
{% extends "_layouts/site-layout-base.twig" %}
{% import '_macros/_pageintro'  as m_pageintro %}
{% set entry = craft.entries().section('vineyards').type('default').one() %}

{% block titleTag %}
<title>{{ entry.title }} | {{ globalVars.displayUrl }}</title>
{% endblock titleTag %}

{% block bodyTag %}
	<body id="{{ entry.slug }}" class="{{ entry.slug }}">
{% endblock bodyTag %}

{% block pageIntro %}
    {% set item = craft.entries().section(entry.slug).type('default').one() %}
    {% set itemImage = item.topicImage.one() %}
    {{ m_pageintro.pageintro(   item.topicTitle, 
                                item.topicIntro,
                                null, 
                                itemImage, 
                                item.topicBanner, 
                                null, 
                                false, 
                                false) }}
{% endblock %}

{% block content %}
    <div class="row">
        {% set swapClass = '' %}
        {% set entries = craft.entries.section([entry.slug]).type('textPic').orderBy('topicTitle ASC').all() %}
        {% for item in entries %}
            {% set entry = item %}
            {% include "item" %}

            {% if (swapClass == "swapOrder") %}
                {% set swapClass = "" %}
            {% else %}
                {% set swapClass = "swapOrder" %}
            {% endif %}
    
        {% endfor %}
    </div>
{% endblock %}


{% block pageJs %}
<script>
    setPageTop('pageHeader');
</script>
{% endblock pageJs %}
