
{% extends "_layouts/site-layout-base.twig" %}
{% import '_macros/_pageintro'  as m_pageintro %}
{% set entry = craft.entries().section('vineyards').type('default').one() %}
{% set slugHandle = entry.slug %}

{% block titleTag %}
<title>{{ entry.title }} | {{ globalVars.displayUrl }}</title>
{% endblock titleTag %}

{% block bodyTag %}
	<body id="{{ slugHandle }}" class="{{ slugHandle }}">
{% endblock bodyTag %}

{% block pageIntro %}
    {% set item = craft.entries().section(slugHandle).type('default').one() %}
    {% set itemImage = item.topicImage.one() %}
    {{ m_pageintro.pageintro(   item.topicTitle, 
                                item.topicIntro,
                                null, 
                                itemImage, 
                                item.topicBanner, 
                                null, 
                                false, 
                                false) }}
{% endblock %}

{% block content %}
        {% set swapClass = '' %}

        {% set levelOne = craft.entries.section([slugHandle]).type('region').all() %}
        {# sort wines first by varietal #}
        {% for level in levelOne %}
            <div class="row vineyard">
                <h2 class="regionTitle"><span>{{ level.title }}</span></h2>
            </div>
            <div class="row">
                {% set vines = craft.entries.section([slugHandle]).descendantOf(level.id).type('textPic').orderBy('topicTitle ASC').all() %}
                {% for item in vines %}
                    {% set entry = item %}
                    {% set pic = item.topicImage.one() %}
                    
                    {% include "item" %}

                    {% if (swapClass == "swapOrder") %}
                        {% set swapClass = "" %}
                    {% else %}
                        {% set swapClass = "swapOrder" %}
                    {% endif %}
                {#
                #}
                {% endfor %}
            </div>
        {% endfor %}

        {## old listing order
        {% set entries = craft.entries.section([slugHandle]).type('textPic').orderBy('topicTitle ASC').all() %}
        {% for item in entries %}
            {% set entry = item %}
            {% include "item" %}

            {% if (swapClass == "swapOrder") %}
                {% set swapClass = "" %}
            {% else %}
                {% set swapClass = "swapOrder" %}
            {% endif %}
    
        {% endfor %}
    </div>
    end old listing order ##}
{% endblock %}


{% block pageJs %}
<script>
    setPageTop('pageHeader');
</script>
{% endblock pageJs %}
