{% extends "item/default" %}
{% import '_macros/_srcset'  as m_srcset %}
{% set showReadMore = false %}

{% block itemContent %}
        <div class="wineItem">
            <div class="TextBlock">
                <div class="nomargins">
                    <div class="topBorder"></div>
                    <div>
                        {% set price = item.bottlePrice|money %}
                        {% set size = item.bottleSize %}
                        <h3>{{ item.topicTitle }}</h3>
                        <h5>{{ price }} / {{ size }}</h5>
                        <p>{{ item.topicIntro }}</p>
                    </div>
                </div>
                <div class="buttons">

                    {# read more button #}
                    {% set link = item.topicLink[0] %}

                    {% if showReadMore %}                    
                        <span class="button buttonLink">
                            <a href="{{ item.url }}">{{ link.label }}</a>
                        </span>
                    {% endif %}


                    {# buy now button #}
                    {% if item.soldOutToggle %}
                        <span class="button buttonLink disabled">
                            <a>{{ globalVars.soldOut }}</a>
                        </span>
                    {% else %}
                        {% set link = item.topicLink[1] %}
                        <span class="button buttonLink">
                            <a href="{{ link.uri }}" {{ blankTarget }}>{{ link.label }}</a>
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="PicBlock">
                <figure>
                    {% set image = item.topicImage.one() %}
                    {% set size  = item.bottleSize %}
                    {% if image %}
                        <img class="lazy" src="{{ image.url }}" alt="{{ image.altText }}" />
                        <figcaption>{{ size }}</figcaption>
                    {% endif %}
                </figure>
            </div>
        </div>
{% endblock %}